apiVersion: batch/v1
kind: CronJob
metadata:
  name: "{{.Release.Name}}"
  labels:
    {{- include "planufacture.labels" . | nindent 4 }}
spec:
  schedule: {{ $.Values.microServices.diomacConnector.schedule | quote }}
  timeZone: {{ $.Values.microServices.diomacConnector.timeZone | quote }}
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        spec:
          {{- with $.Values.imagePullSecrets }}
          imagePullSecrets:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          securityContext:
            runAsUser: 999
            fsGroup: 999
          restartPolicy: Never
          {{- if $.Values.mongo.enabled }}
          initContainers:
            - name: wait-mongo
              image: "{{ $.Values.busybox.image.repository }}:{{ $.Values.busybox.image.tag }}"
              command: ['sh', '-c', 'until nc -z -v -w30 mongo 27017; do echo "Waiting for mongo..."; sleep 2; done;']
          {{- end }}
          containers:
            - name: diomac-connector
              image: "ghcr.io/planufacture/diomac-connector:{{ $.Values.microServices.diomacConnector.image.tag | default $.Chart.AppVersion }}"
              imagePullPolicy: {{ $.Values.image.pullPolicy }}
              securityContext:
                allowPrivilegeEscalation: false
                capabilities:
                  drop:
                    - ALL
              env:
                - name: SPRING_PROFILES_ACTIVE
                  valueFrom:
                    configMapKeyRef:
                      name: {{ include "planufacture.fullname" $ }}-profile
                      key: active
                - name: SPRING_CLOUD_CONFIG_LABEL
                  value: {{ required "A valid .Values.application.environment is required" $.Values.application.environment }}
                - name: SPRING_DATA_MONGODB_URI
                  valueFrom:
                    secretKeyRef:
                      {{- if $.Values.microServices.diomacConnector.mongo.existingSecret }}
                      name: {{ $.Values.microServices.diomacConnector.mongo.existingSecret }}
                      key: {{ $.Values.microServices.diomacConnector.mongo.existingSecretKey | default "mongo-uri" }}
                      {{- else if $.Values.mongo.enabled }}
                      name: {{ include "planufacture.fullname" $ }}-diomac-connector
                      key: mongo-uri
                      {{- else }}
                      {{ required "microServices.diomacConnector.mongo.existingSecret is required when mongo.enabled is false" $.Values.microServices.diomacConnector.mongo.existingSecret }}
                      {{- end }}
                - name: DIOMAC_API_KEY
                  valueFrom:
                    secretKeyRef:
                      name: {{ include "planufacture.fullname" $ }}-diomac
                      key: key

                - name: DIOMAC_OAUTH2_CLIENT
                  valueFrom:
                    secretKeyRef:
                      name: {{ include "planufacture.fullname" $ }}-diomac
                      key: clientId
                - name: DIOMAC_OAUTH2_SECRET
                  valueFrom:
                    secretKeyRef:
                      name: {{ include "planufacture.fullname" $ }}-diomac
                      key: clientSecret
                - name: SPRING_RABBITMQ_HOST
                  value: "rabbitmq-cluster.infrastructure.svc"
                - name: SPRING_RABBITMQ_PORT
                  value: "5672"
                - name: SPRING_RABBITMQ_USERNAME
                  value: {{ $.Release.Namespace }}
                - name: SPRING_RABBITMQ_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: {{ include "planufacture.fullname" $ }}-rabbit
                      key: password
                - name: SPRING_RABBITMQ_VIRTUAL_HOST
                  value: {{ $.Release.Namespace }}
                {{- with .env }}
                {{- toYaml . | nindent 16 }}
                {{- end }}
              {{- with .volumeMounts }}
              volumeMounts:
              {{- toYaml . | nindent 14 }}
              {{- end }}
              {{- with .volumes }}
          volumes:
          {{- toYaml . | nindent 10 }}
          {{- end }}
          {{- with $.Values.nodeSelector }}
          nodeSelector:
          {{- toYaml . | nindent 10 }}
          {{- end }}
          {{- with $.Values.affinity }}
          affinity:
          {{- toYaml . | nindent 10 }}
          {{- end }}
          {{- with $.Values.tolerations }}
          tolerations:
          {{- toYaml . | nindent 10 }}
          {{- end }}
