{{- range $key, $val := .Values.microServices }}
{{- $context := merge (dict "key" $key) $ }}
{{- if .service }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "planufacture.fullname" $context }}
  labels:
    {{- include "planufacture.labels" $context | nindent 4 }}
spec:
  {{- if not $.Values.autoscaling.enabled }}
  replicas: {{ default .replicaCount $.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "planufacture.selectorLabels" $context | nindent 6 }}
  template:
    metadata:
      {{- with $.Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "planufacture.labels" $context | nindent 8 }}
        {{- with $.Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with $.Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "planufacture.serviceAccountName" $ }}
      securityContext:
        {{- toYaml $.Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ $.Chart.Name }}-{{ $key | kebabcase }}
          securityContext:
            {{- toYaml $.Values.securityContext | nindent 12 }}
          image: "{{ .image.repository | default (printf "ghcr.io/planufacture/planufacture-%s" ($key | kebabcase)) }}:{{ .image.tag | default $.Chart.AppVersion }}"
          imagePullPolicy: {{ $.Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .service.port | default $.Values.service.port  }}
              protocol: TCP
          env:
            - name: SPRING_PROFILES_ACTIVE
              valueFrom:
                configMapKeyRef:
                  name: {{ include "planufacture.fullname" $ }}-profile
                  key: active
            - name: SPRING_CLOUD_CONFIG_LABEL
              value: {{ required "A valid .Values.application.environment is required" $.Values.application.environment }}
            {{- if .mongo }}
            - name: SPRING_DATA_MONGODB_URI
              valueFrom:
                secretKeyRef:
                  {{- if .mongo.existingSecret }}
                  name: {{ .mongo.existingSecret }}
                  key: {{ .mongo.existingSecretKey | default "mongo-uri" }}
                  {{- else if $.Values.mongo.enabled }}
                  name: {{ include "planufacture.fullname" $context }}
                  key: mongo-uri
                  {{- else }}
                  {{ required (printf "microServices.%s.mongo.existingSecret is required when mongo.enabled is false" $key) .mongo.existingSecret }}
                  {{- end }}
            {{- end }}
            {{- if .rabbit }}
            - name: SPRING_RABBITMQ_HOST
              value: "rabbitmq-cluster.infrastructure.svc"
            - name: SPRING_RABBITMQ_PORT
              value: "5672"
            - name: SPRING_RABBITMQ_USERNAME
              value: {{ $.Release.Namespace }}
            - name: SPRING_RABBITMQ_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "planufacture.fullname" $ }}-rabbit
                  key: password
            - name: SPRING_RABBITMQ_VIRTUAL_HOST
              value: {{ $.Release.Namespace }}
            - name: ADMIN_DIOMAC_API_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ include "planufacture.fullname" $ }}-diomac
                  key: key
            {{- end }}
            {{- with .env }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
          livenessProbe:
            {{- if .livenessProbe }}
            {{- toYaml  .livenessProbe | nindent 12 }}
            {{- else }}
            {{- toYaml  $.Values.livenessProbe | nindent 12 }}
            {{- end }}
          readinessProbe:
            {{- if .readinessProbe }}
            {{- toYaml  .readinessProbe | nindent 12 }}
            {{- else }}
            {{- toYaml $.Values.readinessProbe | nindent 12 }}
            {{- end }}
          resources:
            {{- toYaml (default $.Values.resources .resources) | nindent 12 }}
          {{- if .configuration }}
          volumeMounts:
            - name: configuration
              mountPath: /home/nonroot/config
              readOnly: true
            {{- with .volumeMounts }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          {{- else }}
          {{- with .volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- end }}
      {{- if .configuration }}
      volumes:
        - name: configuration
          secret:
            secretName: {{ include "planufacture.fullname" $ }}-configuration
      {{- else }}
      {{- with .volumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- end }}
      {{- with $.Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with $.Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with $.Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
---
{{- end }}
{{- end }}
