---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "planufacture.fullname" $ }}-diomac
  labels:
    {{- include "planufacture.labels" . | nindent 4 }}
data:
  key: {{ required "A valid .Values.diomac.key is required" .Values.diomac.key | b64enc | quote }}
  clientId: {{ required "A valid .Values.diomac.clientId is required" .Values.diomac.clientId | b64enc | quote }}
  clientSecret: {{ required "A valid .Values.diomac.clientSecret is required" .Values.diomac.clientSecret | b64enc | quote }}

