---
name: Update Helm Chart Version

on:
  repository_dispatch:
    types: [update-helm-version]

jobs:
  update-chart:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6.0.2
        with:
          token: ${{ secrets.GH_PAC }}

      - name: Install yq
        run: |
          sudo wget -qO /usr/local/bin/yq https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64
          sudo chmod a+x /usr/local/bin/yq

      - name: Update Chart Version
        env:
          NEW_VERSION: ${{ github.event.client_payload.version }}
          SERVICE_NAME: ${{ github.event.client_payload.service }}
        run: |
          # Remove leading 'v' if present
          CLEAN_VERSION="${NEW_VERSION#v}"

          # Update the specific microservice version in values.yaml
          yq -i ".microServices.$SERVICE_NAME.image.tag = \"$CLEAN_VERSION\"" charts/planufacture/values.yaml

          # Update the chart version (increment patch version)
          CHART_VERSION=$(grep '^version:' charts/planufacture/Chart.yaml | awk '{print $2}')
          NEW_CHART_VERSION=$(echo $CHART_VERSION | awk -F. '{$NF = $NF + 1;} 1' OFS=.)
          sed -i "s/version: .*/version: $NEW_CHART_VERSION/" charts/planufacture/Chart.yaml

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
          token: ${{ secrets.GH_PAC }}
          commit-message: "chore: update ${{ github.event.client_payload.service }} version to ${{ github.event.client_payload.version }}"
          title: "chore: update ${{ github.event.client_payload.service }} version to ${{ github.event.client_payload.version }}"
          body: |
            Updates the ${{ github.event.client_payload.service }} microservice to version ${{ github.event.client_payload.version }}.

            This PR was automatically created by a GitHub Action.
          branch: update-${{ github.event.client_payload.service }}-version
          base: main

# Enable when upgraded to GitHub teams
#      - name: Auto-merge if checks pass
#        env:
#          GH_TOKEN: ${{ secrets.GH_PAC }}
#        run: |
#          PR_NUMBER=$(gh pr list --json number --jq '.[0].number')
#          if [ ! -z "$PR_NUMBER" ]; then
#            gh pr merge $PR_NUMBER --auto --merge
#          else
#            echo "No PR found to merge"
#            exit 1
#          fi
